.about{
    display: flex;
    flex-direction: row;
    background-color: #121212 ;
    margin-top: 5vh;
    
    
}



.about-content{
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    color: #EAEAEA;
    width: 50%;
}

.about-content h3,
.about-content h1 {
    margin-bottom: 3vh;
}

.about-content h1{
    background: linear-gradient(
        135deg,
        #B2FFD6 0%,   
        #00FF99 30%,  
        #00CC7A 60%,  
        #008F5A 100% 
);
background-clip: text;
-webkit-background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;

}


.about-content p,
.about-content button {
    margin-bottom: 10vh; /* Add margin to increase gap between elements */
    
}

.about-content p{
    font-size: 1.2rem;
    line-height: 1.5;
    color: #ddd;
}

.about-image{
    width: 30%;
    height: 30%;
    border-radius: 20px;
    margin-top: 10vh;
}

.about-image img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: 2vh;
    
    
}

.about-content button{
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #121212 ;
    color: #F5F5F5;
    border: #00ff99 solid 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 2vh;
    font-weight: 500;
}

.about-content button a{
    text-decoration: none;
    color: white;
}

.about-content button:hover{
    background-color: #009b5d;
    scale: 1.1;
    border: none;
}



.typewriter-text {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    height: 3rem;
    overflow: hidden;
    margin: 2vh 2vh 2vh 0;
  }
  
  .typewriter-cursor {
    display: none;
  }