.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30vh;
    background-color: #121212;
    color: white;
}
.contact h2{
    margin: 3vh;
}
.contact-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3vh;
}

.contact-icons a {
    color: white; /* Set the icon color to white */
    font-size: 2rem;
    transition: color 0.3s;
}

.contact-icons a:hover {
    color: #ff6347; /* Change to your desired hover color */
}