.nav-bar{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 1rem 2rem;
    height: 5vh;
    background-color: #121212;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.logo{
    background: linear-gradient(
  135deg,
  #00FF99 0%,
  #00F0FF 35%,
  #4FACFE 70%,
  #6E7FF3 100%
);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.nav-bar ul{
    display: flex;
    list-style: none;
    margin-right: 10px;
}

.nav-bar ul li{
    text-decoration: none;
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem 1rem; 
    margin: 1rem;
    font-size: 1.25rem;  
    color: white;
    
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    margin-left: 2vh;
    color: white;
}

.nav-bar ul li a.present{
    color: #00ff99;
}


.nav-bar ul li:hover{
    border: #00FF99 solid 2px;
    background-color: #121212;
    
    
    cursor: pointer;
}
       